#hero-1{
    background: url(./images/marcel-schreiber-iZI5qcR7f8s-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#hero-2{
    background: url(./images/tommy-boudreau-BHx3Mk4LEYI-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#hero-3{
    background: url(./images/abhishek-chandra-kXJksx1kdJ0-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#hero-4{
    background: url(/images/jc-dela-cuesta-itqkcMEix64-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#hero-5{
    background: url(/images/jc-gellidon-XmYSlYrupL8-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#hero-6{
    background: url(./images/mathieu-chassara-73uiBbPXwR8-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.text-color{
    color: #B21D34;
}
.text-color2{
    color: white;
}

.question-text{
    font-size: 20px;
}

.answer-text{
    font-size: 18px;
}

.grey-background{
    background-color: #AFA1A1;
}

.title-border1{
    max-width: 269px;
    max-height: 85px;
}

.con2-height{
    height: 376px;
}

.con3-height{
    height: 376px;
}

.button-size{
    width: 90px;
}

.score-style{
    max-width: 130px;
}

.score-text{
    font-size: 22px;
}

.row-height{
    height: 65px;
}

.row2-height{
    height: 100px;
}
.questions-box{
    max-width: 500px;
    height: 50px;
}

.answerBtn{
    width: 468px;
}

